/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set a background image and position it */
body {
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Center vertically and space-between to push the footer down */
    min-height: 100vh; /* Set min-height to 100% viewport height */
}

/* Style the main container */
.container {
    width: 100%;
    max-width: 500px; /* Increase the container width */
    margin: auto;
    padding: 30px; /* Increase padding for better spacing */
    text-align: center;
    color: white;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.8); /* Add a semi-transparent background color */
    border-radius: 10px;
}

/* Style the user profile image */
.user_profile {
    border-radius: 50%;
    max-width: 200px; /* Increase the user profile image size */
    height: auto;
    margin: 20px 0;
}

/* Style the user info */
.user_info h4 {
    font-size: 28px; /* Increase font size for better readability */
    font-weight: bold;
    margin: 20px 0; /* Increase margin for spacing */
}

.user_info h5 {
    font-size: 18px; /* Increase font size for better readability */
    margin: 10px 0; /* Increase margin for spacing */
}

/* Style the links container */
.links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px; /* Increase margin for spacing */
}

/* Style the buttons */
.btn {
    background-color: #7f00ff;
    border: none;
    color: white;
    padding: 15px 30px; /* Increase padding for better spacing */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px; /* Increase font size for better readability */
    margin: 15px 0; /* Increase margin for spacing */
    border-radius: 5px;
    min-width: 50%; /* Adjust the button width for smaller screens */
}

footer {
    text-align: center;
    color: white;
    text-shadow: 0 1px rgba(255, 255, 255, 0.1);
    font-size: 18px; /* Increase font size for better readability */
    padding: 20px 0; /* Increase padding for spacing */
}
