body{
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
    overflow:hidden;
}
.container{
    width: 100%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left:auto;
    text-align: center;
    color: white;
}

.img-container{
    width: 100%;
    text-align: center;
}

.user_profile{
    border-radius: 50%;
}

.user_info h4{
    font-size: 24px;
    font-style: bold;
}

.user_info h5{
    font-size: 16px;
}

.links-container {
    display: flex;
    flex-direction: column;
    jusify-content: center;
    align-items: center;
  }
  
.btn {
        background-color: #7f00ff;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        min-width: 30% !important;
  }

  footer{
    text-align:center;
    color: white;
    text-shadow: 0 1px rgba(255, 255, 255, 0.1);
  }

